<app-header [reload]="'/mnt/accounts/primary-secondary-user'" [headerid]="'fn0'" [title]="'Manage Users'"></app-header>

<div class="modal fade" id="__nhAboutBox" tabindex="-1" role="dialog" aria-labelledby="__nhAboutBox_title"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important;">
      <div class="modal-header m-0 p-0 xpl-2 bg-header xbg-dark text-white d-none">
        <h5 class="modal-title" id="__nhAboutBox_title"></h5>
        <button id="__nhAboutBox_close" type="button" class="close btn-md m-1 p-0 bg-header xbg-dark text-white"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0 " style="overflow: hidden; height:620px;">
        <iframe id="__nhAboutBox_iframe" scrolling="no" frameborder="0" style="width:700px; height:620px; "></iframe>
      </div>
      <div class="modal-footer m-0 p-0 d-none">
        <button id="__nhAboutBox_ok" type="button" class="btn btn-primary">Save changes</button>
        <button id="__nhAboutBox_no" type="button" class="btn btn-primary">Save changes</button>
        <button id="__nhAboutBox_cancel" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="__nhPopWindow" tabindex="-1" role="dialog" aria-labelledby="__nhPopWindow_title"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important; ">
      <div class="modal-header m-0 p-1 pl-2 bg-header text-white">
        <h5 class="modal-title" id="__nhPopWindow_title"></h5>
        <button id="__nhPopWindow_close" type="button" class="close btn-md m-1 p-0 bg-header text-white"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <iframe id="__nhPopWindow_iframe" xwidth="500px" xheight="400px" scrolling="no" frameborder="0"></iframe>
      </div>
      <div class="modal-footer d-none">
        <button id="__nhPopWindow_ok" type="button" class="btn btn-primary">Save changes</button>
        <button id="__nhPopWindow_no" type="button" class="btn btn-primary">Save changes</button>
        <button id="__nhPopWindow_cancel" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="__nhMessageBox" tabindex="-1" role="dialog" aria-labelledby="__nhMessageBox_title"
  aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important;">
      <div class="modal-header m-0 p-1 pl-2 bg-header xbg-dark text-white">
        <h5 class="modal-title" id="__nhMessageBox_title"></h5>
        <button id="__nhMessageBox_close" type="button" class="close btn-md m-1 p-0 bg-header xbg-dark text-white"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0" style="overflow: hidden;">
        <iframe id="__nhMessageBox_iframe" width="500px" height="230px" scrolling="no" frameborder="0"></iframe>
      </div>
      <div class="modal-footer d-none">
        <button id="__nhMessageBox_ok" type="button" class="btn btn-primary">Save changes</button>
        <button id="__nhMessageBox_no" type="button" class="btn btn-primary">Save changes</button>
        <button id="__nhMessageBox_cancel" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="__nhErrorBox" tabindex="-1" role="dialog" aria-labelledby="__nhErrorBox_title"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important;">
      <div class="modal-header m-0 p-1 bg-header text-white">
        <h5 class="modal-title" id="__nhErrorBox_title">Application Error</h5>
        <button type="button" class="close btn-md m-1 p-0 bg-dark text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="__nhErrorBox_content" class="modal-body m-0 p-0"
        style="width: 100%;max-height: 500px; overflow-y: auto;">
      </div>
      <div class="modal-footer justify-content-center m-0 p-1 ">
        <button id="__nhMessageBox_ok" type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="__nhAnimator" tabindex="-1" role="dialog" aria-hidden="true"
  style="position: absolute; max-height: 140px; max-width: 120px;overflow: hidden; ">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(0,0,0,.0001); border: none;">
      <div class="modal-header m-0 p-1 bg-header text-white" style="display: none;overflow: hidden; ">
      </div>
      <div class="modal-body m-4 p-4">

        <div class="nhAnimator"></div>
      </div>
      <div class="modal-footer justify-content-center m-0 p-1" style="display: none;">
      </div>
    </div>
  </div>
</div>

<main role="main" class="container-fluid main-margin">
  <div class="container-fluid pt-4 pb-4 ">
    <div class="row main-body ">

      <div class="nav flex-column nav-pills col-xl-2 col-lg-2 col-md-2 col-sm-12" id="v-pills-tab" role="tablist"
        aria-orientation="vertical">

        <a class="nav-link " id="pill_primary" data-toggle="pill" data-group="1" data-function="fn0_2"
          href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false" (click)="goto('/mnt/accounts/primary-screeners')">Primary Screeners</a>


        <a class="nav-link " id="pill_secondary" data-toggle="pill" data-group="2" data-function="fn0_3"
          href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false" (click)="goto('/mnt/accounts/secondary-graders')">Secondary Graders</a>

        <a class="nav-link active " id="pill_prisec" data-toggle="pill" data-group="3" data-function="fn0_3"
          href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="true" (click)="goto('/mnt/accounts/primary-secondary-user', true)">Primary/Secondary User</a>

        <a class="nav-link " id="pill_uadmin" data-toggle="pill" data-group="10" data-function="fn0_3"
          href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false" (click)="goto('/mnt/accounts/admin-user')">User Admin</a>

      </div>

      <div class="tab-content xp-4  col-xl-10 col-lg-10 col-md-10 col-sm-12" id="v-pills-tabContent">

        <div class="tab-pane fade show active " id="v-pills-user" role="tabpanel">
          <div class="container-fluid">
            <div class="row pb-2 justify-content-center">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pl-0 h4">
                Primary/Secondary User
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-0 ">
                <form name="frmFilter" id="frmFilter" class="form-inline float-right"
                  action="/bn_moh_uat/mnt/accounts/index.cfm?tid=fn0_3" method="post">
                  <input type="hidden" name="ugroup" id="ugroup" value="3">
                  <input type="hidden" name="recno" id="recno" value="25">
                  <div class="form-group mr-2">

                    <input name="desc" id="desc" type="text" class="form-control" placeholder="Search..." value="">
                  </div>
                  <div class="form-group mr-2">
                    <div class="btn-toolbar float-right ">
                      <button name="btnSearch" id="btnSearch" class="form-control btn bg-primary text-white"
                        title="Search">
                        <i class="fa fa-search"></i> Search</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="btn-toolbar float-right ">
                      <button name="btnNew" id="btnNew" class="form-control btn bg-primary text-white" data-group="3"
                        title="New" (click)="onCreate()">
                        <i class="fa fa-plus"></i> New</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row box-shadow">
              <div class="col-xl-12 col-lg-12 col-md-12 ">

                <div class="row p-1 bg-header text-white">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">eMail <i class="fa fa-sort-up"></i></div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Full Name</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Display Name</div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Company</div>
                  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></div>
                </div>



                <div class="row py-1 xborder-bottom text-center bg-white">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">No Record Found.</div>
                </div>

              </div> <!-- /.col-12 -->




            </div>

          </div>

        </div>


      </div>
    </div>

  </div>
  <div class="clearfix"></div>
</main>