body{background-color:#deeefd;}
.form-inline>* {
  margin: 5px 3px;
}

.fgx {
  display: inline-block;
  margin: 0px 3px;
  vertical-align: top;
}

.modal-dialog {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-margin {
  margin-top: 120px;
}