.form-group {
  /* xdisplay: inline-block; */
  /* xmargin: 0px 3px; */
  margin-bottom: 2px;
  /* xvertical-align: top; */
}

.input-group {
  /* xdisplay: inline-block; */
  /* xmargin: 0px 3px; */
  margin-bottom: 2px;
  /* xvertical-align: top; */
}

.create-modal {
  overflow: hidden;
  max-width: 500px;
  width: 500px;
}

.xbottom1 {
  height: 10px;
}