<app-header [reload]="'/mnt/lookup/visual-acuity'" [headerid]="'fn0'"
  [title]="'Maintain Lookup Code'"></app-header>

<div class="modal fade" id="__nhAboutBox" tabindex="-1" role="dialog"
  aria-labelledby="__nhAboutBox_title"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important;">
      <div
        class="modal-header m-0 p-0 xpl-2 bg-header xbg-dark text-white d-none">
        <h5 class="modal-title" id="__nhAboutBox_title"></h5>
        <button id="__nhAboutBox_close" type="button"
          class="close btn-md m-1 p-0 bg-header xbg-dark text-white"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0 " style="overflow: hidden; height:620px;">
        <iframe id="__nhAboutBox_iframe" scrolling="no" frameborder="0"
          style="width:700px; height:620px; "></iframe>
      </div>
      <div class="modal-footer m-0 p-0 d-none">
        <button id="__nhAboutBox_ok" type="button" class="btn btn-primary">Save
          changes</button>
        <button id="__nhAboutBox_no" type="button" class="btn btn-primary">Save
          changes</button>
        <button id="__nhAboutBox_cancel" type="button"
          class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="__nhPopWindow" tabindex="-1" role="dialog"
  aria-labelledby="__nhPopWindow_title"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important; ">
      <div class="modal-header m-0 p-1 pl-2 bg-header text-white">
        <h5 class="modal-title" id="__nhPopWindow_title"></h5>
        <button id="__nhPopWindow_close" type="button"
          class="close btn-md m-1 p-0 bg-header text-white"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <iframe id="__nhPopWindow_iframe" xwidth="500px" xheight="400px"
          scrolling="no" frameborder="0"></iframe>
      </div>
      <div class="modal-footer d-none">
        <button id="__nhPopWindow_ok" type="button" class="btn btn-primary">Save
          changes</button>
        <button id="__nhPopWindow_no" type="button" class="btn btn-primary">Save
          changes</button>
        <button id="__nhPopWindow_cancel" type="button"
          class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="__nhMessageBox" tabindex="-1" role="dialog"
  aria-labelledby="__nhMessageBox_title"
  aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important;">
      <div class="modal-header m-0 p-1 pl-2 bg-header xbg-dark text-white">
        <h5 class="modal-title" id="__nhMessageBox_title"></h5>
        <button id="__nhMessageBox_close" type="button"
          class="close btn-md m-1 p-0 bg-header xbg-dark text-white"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0" style="overflow: hidden;">
        <iframe id="__nhMessageBox_iframe" width="500px" height="230px"
          scrolling="no" frameborder="0"></iframe>
      </div>
      <div class="modal-footer d-none">
        <button id="__nhMessageBox_ok" type="button"
          class="btn btn-primary">Save changes</button>
        <button id="__nhMessageBox_no" type="button"
          class="btn btn-primary">Save changes</button>
        <button id="__nhMessageBox_cancel" type="button"
          class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="__nhErrorBox" tabindex="-1" role="dialog"
  aria-labelledby="__nhErrorBox_title"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"
      style="border-top-left-radius: 0.5rem!important; border-top-right-radius: 0.5rem!important;">
      <div class="modal-header m-0 p-1 bg-header text-white">
        <h5 class="modal-title" id="__nhErrorBox_title">Application Error</h5>
        <button type="button" class="close btn-md m-1 p-0 bg-dark text-white"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="__nhErrorBox_content" class="modal-body m-0 p-0"
        style="width: 100%;max-height: 500px; overflow-y: auto;">
      </div>
      <div class="modal-footer justify-content-center m-0 p-1 ">
        <button id="__nhMessageBox_ok" type="button" class="btn btn-secondary"
          data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="__nhAnimator" tabindex="-1" role="dialog"
  aria-hidden="true"
  style="position: absolute; max-height: 140px; max-width: 120px;overflow: hidden; ">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
      style="background-color: rgba(0,0,0,.0001); border: none;">
      <div class="modal-header m-0 p-1 bg-header text-white"
        style="display: none;overflow: hidden; ">
      </div>
      <div class="modal-body m-4 p-4">

        <div class="nhAnimator"></div>
      </div>
      <div class="modal-footer justify-content-center m-0 p-1"
        style="display: none;">
      </div>
    </div>
  </div>
</div>

<main role="main" class="container-fluid main-margin">
  <div class="container-fluid pt-4 pb-4">
    <div class="row main-body">
      <div
        class="nav flex-column nav-pills col-xl-2 col-lg-2 col-md-2 col-sm-12"
        id="v-pills-tab" role="tablist"
        aria-orientation="vertical">

        <a class="nav-link lookup " id="lookup_LANGUAGE_CD" data-toggle="pill"
          data-group="LANGUAGE_CD" data-std="Y"
          data-function="fn0_5" data-startupfile href role="tab"
          aria-controls="v-pills-user"
          aria-selected="false"
          (click)="goto('/mnt/lookup/language')">Language</a>

        <a class="nav-link lookup " id="lookup_RACE_CD" data-toggle="pill"
          data-group="RACE_CD" data-std="Y"
          data-function="fn0_5" data-startupfile href role="tab"
          aria-controls="v-pills-user"
          aria-selected="false"
          (click)="goto('/mnt/lookup/patient-race')">Patient Race</a>

        <a class="nav-link lookup active " id="lookup_PINHOLE_CD"
          data-toggle="pill" data-group="PINHOLE_CD"
          data-std="N" data-function="fn0_5"
          data-startupfile="mnt/visual_acuity/index.cfm" href role="tab"
          aria-controls="v-pills-user" aria-selected="true"
          (click)="goto('/mnt/lookup/visual-acuity', true)">Visual Acuity</a>

        <a class="nav-link lookup " id="lookup_VUNO_FUNDUS_AI_FDG_CD"
          data-toggle="pill"
          data-group="VUNO_FUNDUS_AI_FDG_CD" data-std="Y" data-function="fn0_5"
          data-startupfile href role="tab"
          aria-controls="v-pills-user" aria-selected="false"
          (click)="goto('/mnt/lookup/vuno-fundus')">VUNO Fundus AI Findings</a>

      </div>

      <div class="tab-content xp-4  col-xl-10 col-lg-10 col-md-10 col-sm-12"
        id="v-pills-tabContent">

        <div class="tab-pane fade xborder show active" role="tabpanel">
          <div class="container-fluid">
            <div class="row pb-2 justify-content-center">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pl-0 h4">Visual
                Acuity</div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-0 ">
                <form name="frmFilter" id="frmFilter"
                  class="form-inline float-right fmx"
                  action="/bn_moh_uat/mnt/visual_acuity/index.cfm?tid=fn0_5"
                  method="post">
                  <input type="hidden" name="ugroup" id="ugroup"
                    value="PINHOLE_CD">
                  <input type="hidden" name="recno" id="recno" value="25">
                  <div class="form-group mr-2">

                    <input name="desc" id="desc" type="text"
                      class="form-control" placeholder="Search..." value>
                  </div>
                  <div class="form-group mr-2">
                    <div class="btn-toolbar float-right ">
                      <button name="btnSearch" id="btnSearch"
                        class="form-control btn bg-primary text-white"
                        title="Search">
                        <i class="fa fa-search"></i> Search</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="btn-toolbar float-right ">
                      <button name="btnNew" id="btnNew"
                        class="form-control btn bg-primary text-white"
                        data-group="PINHOLE_CD" data-std="N" title="New"
                        (click)="onCreate()"><i class="fa fa-plus"></i>
                        New</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row box-shadow">
              <div class="col-xl-12 col-lg-12 col-md-12 ">

                <div class="row p-1 bg-header text-white">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Code</div>
                  <div
                    class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Description</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Chart Type
                    <i class="fa fa-sort-up"></i></div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Display
                    Order <i class="fa fa-sort-up"></i></div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Active</div>

                  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></div>
                </div>

                <div id="pg-1"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L1
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">1.0</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">10</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_1" name="pedit" class="pedit" href="#"
                      data-id="L1" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"
                      (click)="onEdit()"><i class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-2"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L2
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.9</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">20</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_2" name="pedit" class="pedit" href data-id="L2"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-3"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L3
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.8</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">30</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_3" name="pedit" class="pedit" href data-id="L3"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-4"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L4
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.7</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">40</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_4" name="pedit" class="pedit" href data-id="L4"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-5"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L5
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.6</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">50</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_5" name="pedit" class="pedit" href data-id="L5"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-6"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L6
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.5</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">60</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_6" name="pedit" class="pedit" href data-id="L6"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-7"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L7
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.4</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">70</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_7" name="pedit" class="pedit" href data-id="L7"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-8"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L8
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.3</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">80</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_8" name="pedit" class="pedit" href data-id="L8"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-9"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L9
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.2</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">90</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_9" name="pedit" class="pedit" href data-id="L9"
                      data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-10"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L10
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.1</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">100</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_10" name="pedit" class="pedit" href
                      data-id="L10" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-11"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L11
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">0.0</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">110</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_11" name="pedit" class="pedit" href
                      data-id="L11" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-12"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    L12
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">-0.1</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">120</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_12" name="pedit" class="pedit" href
                      data-id="L12" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-13"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    LUA
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Unable to
                    assess</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">121</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_13" name="pedit" class="pedit" href
                      data-id="LUA" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-14"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    LCF
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Counting
                    Fingers</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">121</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_14" name="pedit" class="pedit" href
                      data-id="LCF" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-15"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    LHM
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Hand
                    Motion</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">121</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_15" name="pedit" class="pedit" href
                      data-id="LHM" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-16"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    LLP
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Light
                    Perception</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">121</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_16" name="pedit" class="pedit" href
                      data-id="LLP" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-17"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    LNLP
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">No Light
                    Perception</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">LOGMAR</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">121</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_17" name="pedit" class="pedit" href
                      data-id="LNLP" data-chart-type="LOGMAR"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-18"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    1
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/6</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">10</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_18" name="pedit" class="pedit" href data-id="1"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-19"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    2
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/7.5</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">20</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_19" name="pedit" class="pedit" href data-id="2"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-20"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    3
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/9</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">30</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_20" name="pedit" class="pedit" href data-id="3"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-21"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    4
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/12</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">40</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_21" name="pedit" class="pedit" href data-id="4"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-22"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    5
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/15</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">50</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_22" name="pedit" class="pedit" href data-id="5"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-23"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    6
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/18</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">60</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_23" name="pedit" class="pedit" href data-id="6"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-24"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    7
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/24</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">70</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_24" name="pedit" class="pedit" href data-id="7"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-25"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    8
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/30</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">80</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_25" name="pedit" class="pedit" href data-id="8"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-26"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    11
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/45</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">85</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_26" name="pedit" class="pedit" href
                      data-id="11" data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-27"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    9
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/60</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">90</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_27" name="pedit" class="pedit" href data-id="9"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-28"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    10
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">6/120</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">100</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_28" name="pedit" class="pedit" href
                      data-id="10" data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-29"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    CF
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Counting
                    Fingers</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">101</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_29" name="pedit" class="pedit" href
                      data-id="CF" data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-30"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    HM
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Hand
                    Movements</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">102</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_30" name="pedit" class="pedit" href
                      data-id="HM" data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-31"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    LP
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Light
                    Perception</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">103</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_31" name="pedit" class="pedit" href
                      data-id="LP" data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-32"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    NLP
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">No Light
                    Perception</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">104</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_32" name="pedit" class="pedit" href
                      data-id="NLP" data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-33"
                  class="rec-img row p-1 xborder-bottom bg-white text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    UA
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Unable to
                    assess</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">105</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_33" name="pedit" class="pedit" href
                      data-id="UA" data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

                <div id="pg-34"
                  class="rec-img row p-1 xborder-bottom bg-light text-dark"
                  style='display:none;'>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    0
                  </div>
                  <div
                    class="col-xl-3 col-lg-3 col-md-3 col-sm-12">Unknown</div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-sm-12">SNELLEN</div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">110</div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">Yes</div>

                  <div
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 text-center ">
                    <a id="pedit_34" name="pedit" class="pedit" href data-id="0"
                      data-chart-type="SNELLEN"
                      data-group="PINHOLE_CD" data-std="N" title="Edit"><i
                        class="fa fa-pencil-alt "></i></a>
                  </div>
                </div>

              </div> <!-- /.col-12 -->

              <div class="col-lg-4 col-md-4 col-sm-12 py-2">
                <div class="xform-group row">
                  <label class="pl-3 pr-2 text-muted">Show </label>
                  <select
                    class="form-control form-control-sm custom-select custom-select-sm"
                    name="pagerec"
                    id="pagerec" style="max-width: 80px;">
                    <option value="10">10</option>
                    <option value="25" selected>25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pt-2 text-center">

                <span id="dispdesc" class="text-muted">Showing 1 to 25 of
                  34</span>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 pt-2">
                <ul class="pagination pagination-sm float-right">
                  <li id="pgn_prev" class="page-item disabled" disabled
                    data-pgn-current="1" data-pgn-start="1"
                    data-pgn-end="25">
                    <a class="page-link" href>First</a>
                  </li>

                  <li id="pgn_1" class="page-item active" data-pgn-current="1"
                    data-pgn-start="1" data-pgn-end="25"> <a
                      class="page-link" href>1</a>
                  </li>

                  <li id="pgn_2" class="page-item " data-pgn-current="2"
                    data-pgn-start="26" data-pgn-end="34"> <a
                      class="page-link" href>2</a>
                  </li>

                  <li id="pgn_next" class="page-item  " data-pgn-current="2"
                    data-pgn-start="26" data-pgn-end="34">
                    <a class="page-link" href>Last</a>
                  </li>
                </ul>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</main>