cbody {
  font-family: 'Lato', sans-serif;
  color: red;
}

.xform-inline>* {
  margin: 5px 3px;
}

.modal-dialog {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-margin {
  margin-top: 120px;
}