body{background-color:#deeefd;}
.form-inline>* {
  margin: 5px 3px;
}

.form-group {
  display: inline-block;
  margin: 0px 3px;
  vertical-align: top;
}

.modal-dialog {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  align-items: center;
}

.modal-content {
  width: auto;
  height: auto;
}

.txt-ember {
  color: #f05e1b;
}

.main-margin {
  margin-top: 120px;
}