#eyscan {
  font-size: 50pt;
  /* Xfont-family: 'Boombox', 'Arial', sans-serif; */
}

#login {
  background-color: rgba(0, 51, 102, 0.5);
  color: #ffffff;
  left: 0%;
  margin: 0px;
  padding: 20px;
  position: absolute;
  top: 0%;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.ctt-modal {
  max-width: 880px !important;
  width: 880px;
  /* max-height: 465px !important;
  height: 465px; */
}

.xbottom {
  height: 58px;
}

.xbottom1 {
  height: 5px;
}