<app-header
  [reload]="'/application/home'"
  [headerid]="'fn1'"
  [title]="'Home'"
></app-header>

<div
  class="modal fade"
  id="__nhAboutBox"
  tabindex="-1"
  role="dialog"
  aria-labelledby="__nhAboutBox_title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
      "
    >
      <div
        class="modal-header m-0 p-0 xpl-2 bg-header xbg-dark text-white d-none"
      >
        <h5 class="modal-title" id="__nhAboutBox_title"></h5>
        <button
          id="__nhAboutBox_close"
          type="button"
          class="close btn-md m-1 p-0 bg-header xbg-dark text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0" style="overflow: hidden; height: 620px">
        <iframe
          id="__nhAboutBox_iframe"
          scrolling="no"
          frameborder="0"
          style="width: 700px; height: 620px"
        ></iframe>
      </div>
      <div class="modal-footer m-0 p-0 d-none">
        <button id="__nhAboutBox_ok" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button id="__nhAboutBox_no" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button id="__nhAboutBox_cancel" type="button" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="__nhPopWindow"
  tabindex="-1"
  role="dialog"
  aria-labelledby="__nhPopWindow_title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
      "
    >
      <div class="modal-header m-0 p-1 pl-2 bg-header text-white">
        <h5 class="modal-title" id="__nhPopWindow_title"></h5>
        <button
          id="__nhPopWindow_close"
          type="button"
          class="close btn-md m-1 p-0 bg-header text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <iframe
          id="__nhPopWindow_iframe"
          xwidth="500px"
          xheight="400px"
          scrolling="no"
          frameborder="0"
        ></iframe>
      </div>
      <div class="modal-footer d-none">
        <button id="__nhPopWindow_ok" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button id="__nhPopWindow_no" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button id="__nhPopWindow_cancel" type="button" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="__nhMessageBox"
  tabindex="-1"
  role="dialog"
  aria-labelledby="__nhMessageBox_title"
  aria-hidden="true"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
      "
    >
      <div class="modal-header m-0 p-1 pl-2 bg-header xbg-dark text-white">
        <h5 class="modal-title" id="__nhMessageBox_title"></h5>
        <button
          id="__nhMessageBox_close"
          type="button"
          class="close btn-md m-1 p-0 bg-header xbg-dark text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0" style="overflow: hidden">
        <iframe
          id="__nhMessageBox_iframe"
          width="500px"
          height="230px"
          scrolling="no"
          frameborder="0"
        ></iframe>
      </div>
      <div class="modal-footer d-none">
        <button id="__nhMessageBox_ok" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button id="__nhMessageBox_no" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button
          id="__nhMessageBox_cancel"
          type="button"
          class="btn btn-primary"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  id="__nhErrorBox"
  tabindex="-1"
  role="dialog"
  aria-labelledby="__nhErrorBox_title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div
      class="modal-content"
      style="
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
      "
    >
      <div class="modal-header m-0 p-1 bg-header text-white">
        <h5 class="modal-title" id="__nhErrorBox_title">Application Error</h5>
        <button
          type="button"
          class="close btn-md m-1 p-0 bg-dark text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        id="__nhErrorBox_content"
        class="modal-body m-0 p-0"
        style="width: 100%; max-height: 500px; overflow-y: auto"
      ></div>
      <div class="modal-footer justify-content-center m-0 p-1">
        <button
          id="__nhMessageBox_ok"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="__nhAnimator"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="
    position: absolute;
    max-height: 140px;
    max-width: 120px;
    overflow: hidden;
  "
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="background-color: rgba(0, 0, 0, 0.0001); border: none"
    >
      <div
        class="modal-header m-0 p-1 bg-header text-white"
        style="display: none; overflow: hidden"
      ></div>
      <div class="modal-body m-4 p-4">
        <div class="nhAnimator"></div>
      </div>
      <div
        class="modal-footer justify-content-center m-0 p-1"
        style="display: none"
      ></div>
    </div>
  </div>
</div>

<main role="main" class="container-fluid pt-3">
  <div class="container-fluid px-2">
    <div class="row py-2">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 xpl-0 xborder">
        <div class="row">
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12">Date Range</div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="d-inline-block">
              <div class="dropdown" style="width: 220px">
                <button
                  class="btn btn-sm dropdown-toggle border bg-white"
                  type="button"
                  id="ddwn_datefilter"
                  name="ddwn_datefilter"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ selectedRange }}
                </button>
                <div
                  class="dropdown-menu p-0"
                  aria-labelledby="ddwn_datefilter"
                  style="width: 220px"
                >
                  <a class="dropdown-item px-2 py-1" [class.active]="selected === 'today'" data-item="1" href="#" (click)="getDateRange('today')">Today</a>
                  <a class="dropdown-item px-2 py-1" [class.active]="selected === 'yesterday'" data-item="2" href="#" (click)="getDateRange('yesterday')">Yesterday</a>
                  <a class="dropdown-item px-2 py-1" [class.active]="selected === 'last7'" data-item="3" href="#" (click)="getDateRange('last7')">Last 7 Days</a>
                  <a class="dropdown-item px-2 py-1" [class.active]="selected === 'last30'" data-item="4" href="#" (click)="getDateRange('last30')">Last 30 Days</a>
                  <a class="dropdown-item px-2 py-1" [class.active]="selected === 'tm'" data-item="5" href="#" (click)="getDateRange('tm')">This Month</a>
                  <a class="dropdown-item px-2 py-1" [class.active]="selected === 'lm'" data-item="6" href="#" (click)="getDateRange('lm')">Last Month</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12"></div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-right">
            <button
              name="btnSubmitImg"
              id="btnSubmitImg"
              class="btn btn-sm bg-primary text-white"
              value="Submit Image"
              (click)="goto('/application/submit-image')"
            >
              <i class="fa fa-cloud-upload-alt"></i> Submit Image
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 xpl-0 xborder">
        <div class="row p-2">
          <div class="col box-shadow">
            <div class="row">
              <div class="col-12 pt-2 pb-1 bg-light">
                <h5 class="float-left pr-5">Image Report Details</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-12 bg-light xborder">
                <div class="panel-row row pb-1 bg-header text-white">
                  <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                    Case Reference ID
                  </div>
                  <div class="col-xl-2 col-md-2 col-lg-2 col-sm-12">
                    Report Status
                  </div>
                  <div class="col-xl-2 col-md-2 col-lg-2 col-sm-12">
                    Date Submitted <i class="fa fa-sort-down"></i>
                    <br />Submitted by
                  </div>
                  <div class="col-xl-2 col-md-2 col-lg-2 col-sm-12">
                    Date Reported
                  </div>
                  <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12 xpl-0">
                    Findings
                  </div>
                </div>

                <div class="row pb-1 bg-light text-center">
                  <div class="col-md-12 col-lg-12">No Record Found.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row p-2 pt-2">
          <div class="col box-shadow">
            <div class="row">
              <div class="col-12 pt-2 bg-light border">
                <h5 class="float-left">Status Summary</h5>
              </div>
            </div>

            <div class="row bg-header">
              <!-- Image Status box -->
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-2">
                <div class="bg-submitted text-white box-shadow">
                  <div class="label pl-3 pt-2 xcol-12">SUBMITTED</div>

                  <div class="value pr-3 pb-2">0</div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-2">
                <div class="bg-submitted text-white box-shadow">
                  <div class="label pl-3 pt-2 xcol-12">REPORTED</div>
                  <div class="value pr-3 pb-2">0</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <div class="row p-2">
          <div class="col-12 box-shadow">
            <div class="row">
              <div class="col-12 pt-2 bg-white xbg-light">
                <h5 class="float-left">Recently Reported</h5>
              </div>
            </div>
            <div class="row">
              <div class="col bg-white xbg-light">
                <div class="row p-2">
                  <div
                    class="col-lg-12 col-md-12 col-sm-12 p-1 text-center border-top"
                  >
                    No Record Found.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</main>
<!-- /.main -->

<div class="clearfix">&nbsp;</div>
