<div class="modal-header m-0 p-1 pl-2 bg-header text-white">
  <h5 class="modal-title" id="__nhPopWindow_title">{{ title }}</h5>
  <button
    id="__nhPopWindow_close"
    type="button"
    class="close btn-md m-1 p-0 bg-header text-white"
    data-dismiss="modal"
    aria-label="Close"
    (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-0 p-0 create-modal">
  <main role="main" class="container-fluid p-0">
    <form name="frmMain" id="frmMain" method="post">
      <div class="container-fluid pt-2 pb-3 px-4 bg-light xborder-bottom">
        <input type="hidden" name="company_id" id="company_id" value="0" />
        <input
          type="hidden"
          name="param_code"
          id="param_code"
          value="ARC_AUDIT_LOG_RETAINING_DAYS" />
        <input type="hidden" name="param_value" id="param_value" value="3650" />
        <input
          type="hidden"
          name="param_value_old"
          id="param_value_old"
          value="3650" />
        <input
          type="hidden"
          name="hparam_datatype"
          id="hparam_datatype"
          value />

        <div class="form-group">
          <label class="control-label mb-1">Description</label>
          <input
            type="text"
            name="description"
            id="description"
            value="AUDIT LOG: Archival audit log records retaining days"
            class="form-control"
            title="AUDIT LOG: Archival audit log records retaining days"
            readonly />
        </div>

        <div class="form-group">
          <label class="control-label mb-1">Parameter Value</label>
          <select
            class="form-control custom-select tparam_value d-none"
            name="sel_param_value"
            id="sel_param_value"></select>

          <input
            type="text"
            class="form-control tparam_value"
            name="txt_param_value"
            id="txt_param_value"
            value="3650"
            required
            oninvalid="this.setCustomValidity('Please fill out this field.')"
            oninput="setCustomValidity('')"
            maxlength="50"
            onkeyup="reject_space(this); chkposval(this, 2, 'txt_param_value');"
            onblur="reject_space(this);chkposval(this, 2, 'txt_param_value'); " />
        </div>

        <div class="form-row">
          <div class="form-group col-7">
            <label class="control-label mb-1">Data Type </label>
            <select
              class="form-control custom-select"
              name="param_datatype"
              id="param_datatype"
              required>
              <option value="TEXT">Text</option>
              <option value="NUMBER" selected>Number</option>
              <option value="DATE">Date</option>
              <option value="TIME">Time</option>
            </select>
          </div>

          <div class="form-group col-5 justify-content-right">
            <label
              class="control-label mb-1"
              for="status"
              style="cursor: pointer">Data Reference
            </label>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control custom-control-lg"
                id="param_data_ind"
                name="param_data_ind"
                value="Y"
                style="cursor: pointer; width: 20px"
                disabled />
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-4">
            <label class="control-label mb-1">Length</label>
            <input
              type="text"
              name="param_length"
              id="param_length"
              value
              class="form-control"
              maxlength="3"
              onkeyup="reject_space(this);chkposval(this, 2, 'param_length');"
              onblur="reject_space(this); chkposval(this, 2, 'param_length'); chkLength(this); " />
          </div>
          <div class="form-group col-4">
            <label class="control-label mb-1">Minimum</label>
            <input
              type="text"
              name="param_datamin"
              id="param_datamin"
              value
              class="form-control"
              maxlength="5"
              onkeyup="reject_space(this);chkposval(this, 2, 'param_datamin');"
              onblur="reject_space(this); chkposval(this, 2, 'param_datamin');" />
          </div>
          <div class="form-group col-4">
            <label class="control-label mb-1">Maximum</label>
            <input
              type="text"
              name="param_datamax"
              id="param_datamax"
              value
              class="form-control"
              maxlength="5"
              onkeyup="reject_space(this);chkposval(this, 2, 'param_datamax');"
              onblur="reject_space(this); chkposval(this, 2, 'param_datamax');" />
          </div>
        </div>
        <div class="xbottom"></div>
      </div>

      <div class="container-fluid px-0 py-2 text-center border-top bg-white">
        <button
          name="btnCancel"
          id="btnCancel"
          class="btn xbtn-sm bg-secondary py-1 text-white mr-1"
          value="Close"
          (click)="bsModalRef.hide()">
          <i class="fa fa-times"></i> Close
        </button>
        <button
          type="submit"
          name="btnSave"
          id="btnSave"
          class="btn xbtn-sm bg-primary py-1 text-white ml-1"
          value="Save">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
      <div class="xbottom1"></div>
    </form>
  </main>
</div>
