.carousel-caption {
  color: #343a40;
}

.carousel-item {
  height: 550px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.carousel-indicators {
  bottom: 30px;
}

.carousel-indicators li {
  background-color: gray;
}

.carousel-indicators li.active {
  background-color: #007bff;
}

carousel.slide-animated {
  slide.item {
    animation-duration: 1s;
    animation-fill-mode: both;
    &.active {
      width: 100%;
      animation-name: carouselSlideIn;
    }
    &:not(.active) {
      display: table-cell;
      animation-name: carouselSlideOut;
    }
  }
}

@keyframes carouselSlideIn {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes carouselSlideOut {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.xbottom {
  margin-top: 75px;
}