<div class="modal-header m-0 p-1 pl-2 bg-header text-white">
  <h5 class="modal-title" id="__nhPopWindow_title">{{ title | translate }}</h5>
  <button id="__nhPopWindow_close" type="button" class="close btn-md m-1 p-0 bg-header text-white" data-dismiss="modal"
    aria-label="Close" (click)="onHide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-0 p-0 create-modal">
  <main role="main" class="container-fluid p-0">
    <form 
      *ngIf="mform" 
      name="frmMain" 
      id="frmMain" 
      method="post" 
      class="xbg-secondary" 
      [formGroup]="mform"
      ngNativeValidate 
      (ngSubmit)="onSubmit()">
      <div class="container-fluid py-1 xpt-2 xpb-2 px-2 bg-light xborder-bottom">
        <input type="hidden" name="item_id" id="item_id" value="0" />
        <input type="hidden" name="tmp_trial_ind" id="tmp_trial_ind" value />
        <input type="hidden" name="hstatus" id="hstatus" value="A" />
        <input type="hidden" name="nameSpecialChars" value="~`!1@2#3$4%5^6&7*8(9)0-_+={}[]|\:;,.<>/?" />
        <input type="hidden" name="descSpecialChars" value="~`!@#$%^&*-_+={}[]|\:;,.<>/?" />

        <input 
          type="hidden"
          name="f7872AA5743F4B31635BEEF26B56A87E0225A47BDD9D210FF5C001F7CA5EEE92E3D06EB83FD179876FA7E3F0B5822AB487E1AE124FE34E83CEC0BFAA694A26414"
          value="E615353F9E20C27F1F747A8827A18890A558CD98" />

        <div class="row pb-2">
          <div class="col-12">
            <ul class="nav nav-tabs p-0" id="orgTab" role="tablist">
              <li class="nav-item p-0">
                <a class="nav-link active" id="detail-tab" name="detail-tab" data-toggle="tab" role="tab"
                  aria-controls="detail" aria-selected="true" href="#detail-tabcontent">{{ "Organization Info" | translate }}</a>
              </li>

              <li class="nav-item">
                <a class="nav-link disabled" id="threshold-tab" name="threshold-tab" data-toggle="tab" role="tab"
                  aria-controls="threshold" aria-selected="false" href="#threshold-tabcontent">{{ "SELENA+ Threshold" | translate }}</a>
              </li>

              <li class="nav-item">
                <a class="nav-link disabled" id="ckdthreshold-tab" name="ckdthreshold-tab" data-toggle="tab" role="tab"
                  aria-controls="threshold" aria-selected="false" href="#ckdthreshold-tabcontent">{{ "RetiKID Threshold" | translate }}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="tab-content col-12" id="orgTabContent">
              <div class="tab-pane fade show active" id="detail-tabcontent" role="tabpanel"
                aria-labelledby="detail-tab">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <label class="control-label mb-0">{{ "Description" | translate }} </label>
                      <input 
                        type="text" 
                        class="form-control mb-0" 
                        [class.is-invalid]="invalid('description')"
                        [class.is-valid]="!invalid('description')"
                        formControlName="description" 
                        required
                        maxlength="200" 
                        (invalid)="setCustomValidity($event, 'Please fill out this field.')" 
                        oninput="setCustomValidity('')" 
                        (keyup)="onKeyupValidateSpecialChar($event, descSpecialChars, 'description')"
                        [title]="getError('description')" />
                    </div>
                  </div>
                </div>

                <div class="form-row xmb-1">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 px-2">
                    <div class="form-row row-eq-height">
                      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 d-flex">
                        <div class="col border border-info rounded p-2 mb-2">
                          <div class="form-row mb-1">
                            <div class="form-group col-4">
                              <label class="control-label mb-1">{{ "Screening Model" | translate }} </label>
                              <select 
                                class="form-control custom-select" 
                                [class.is-invalid]="invalid('grading_id')"
                                [class.is-valid]="!invalid('grading_id')"
                                formControlName="grading_id" 
                                required
                                [title]="getError('grading_id')">
                                <option value="P">{{ "Fully Automated" | translate }}</option>

                                <option value="S">{{ "Semi-Automated" | translate }}</option>
                              </select>
                            </div>
                            <div class="form-group col-5">
                              <label class="control-label mb-1">{{ "Image Report Preference" | translate }} </label>
                              <select 
                                class="form-control custom-select" 
                                [class.is-invalid]="invalid('report_ind')"
                                [class.is-valid]="!invalid('report_ind')"
                                formControlName="report_ind" 
                                required
                                [title]="getError('report_ind')">
                                <option value="MC">{{ "Macula Centered" | translate }}</option>
                                <option value="OC">{{ "Optic Disc Centered" | translate }}</option>
                              </select>
                            </div>
                            <div class="form-group col-3">
                              <label class="control-label mb-1">{{ "Audit Threshold" | translate }} </label>
                              <input 
                                type="text" 
                                class="form-control" 
                                formControlName="auditing_threshold" 
                                maxlength="4"
                                (keyup)="onKeyupChkposval($event, 'auditing_threshold', 2)" />
                            </div>
                          </div>
                          <div class="form-row mb-1">
                            <div class="form-group col-6">
                              <label class="control-label mb-1">{{ "Parent Organization" | translate }} </label>
                              <select class="form-control custom-select" formControlName="parent_company_id">
                                <option value></option>

                                <option value="8">
                                  Belait Hospital (TOPCON)
                                </option>

                                <option value="10">
                                  Berakas Health Centre
                                </option>

                                <option value="2">Brunei MOH</option>

                                <option value="3">
                                  Brunei MOH Ocular Reading Centre
                                </option>

                                <option value="1">EyRIS</option>

                                <option value="14">Mobile Bus 1</option>

                                <option value="15">Mobile Bus 2</option>

                                <option value="12">Muara Health Centre</option>

                                <option value="11">Rimba Health Centre</option>

                                <option value="6">
                                  RIPAS Hospital (Endocrinology)
                                </option>

                                <option value="5">
                                  RIPAS Hospital (TOPCON)
                                </option>

                                <option value="13">
                                  Sengkurong Health Centre
                                </option>

                                <option value="9">Temburong Hospital</option>

                                <option value="7">
                                  Tutong Hospital (TOPCON)
                                </option>
                              </select>
                            </div>

                            <div class="form-group col-6">
                              <label class="control-label mb-1">{{ "Camera ID" | translate }} </label>
                              <input 
                                type="text" 
                                class="form-control" 
                                formControlName="camera_id" 
                                maxlength="50" />
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-6">
                              <label class="control-label mb-1">{{ "Ocular Reading Centre" | translate }} </label>
                              <select class="form-control custom-select" formControlName="secondary_id">
                                <option value></option>

                                <option value="8">
                                  Belait Hospital (TOPCON)
                                </option>

                                <option value="10">
                                  Berakas Health Centre
                                </option>

                                <option value="2">Brunei MOH</option>

                                <option value="3">
                                  Brunei MOH Ocular Reading Centre
                                </option>

                                <option value="1">EyRIS</option>

                                <option value="14">Mobile Bus 1</option>

                                <option value="15">Mobile Bus 2</option>

                                <option value="12">Muara Health Centre</option>

                                <option value="11">Rimba Health Centre</option>

                                <option value="6">
                                  RIPAS Hospital (Endocrinology)
                                </option>

                                <option value="5">
                                  RIPAS Hospital (TOPCON)
                                </option>

                                <option value="13">
                                  Sengkurong Health Centre
                                </option>

                                <option value="9">Temburong Hospital</option>

                                <option value="7">
                                  Tutong Hospital (TOPCON)
                                </option>
                              </select>
                            </div>
                            <div class="form-group col-6">
                              <label class="control-label mb-1">{{ "Auxiliary Image Acquisition" | translate }} </label>
                              <select class="form-control custom-select" formControlName="collect_company_id">
                                <option value></option>

                                <option value="8">
                                  Belait Hospital (TOPCON)
                                </option>

                                <option value="10">
                                  Berakas Health Centre
                                </option>

                                <option value="2">Brunei MOH</option>

                                <option value="3">
                                  Brunei MOH Ocular Reading Centre
                                </option>

                                <option value="1">EyRIS</option>

                                <option value="14">Mobile Bus 1</option>

                                <option value="15">Mobile Bus 2</option>

                                <option value="12">Muara Health Centre</option>

                                <option value="11">Rimba Health Centre</option>

                                <option value="6">
                                  RIPAS Hospital (Endocrinology)
                                </option>

                                <option value="5">
                                  RIPAS Hospital (TOPCON)
                                </option>

                                <option value="13">
                                  Sengkurong Health Centre
                                </option>

                                <option value="9">Temburong Hospital</option>

                                <option value="7">
                                  Tutong Hospital (TOPCON)
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-4">
                              <label class="control-label mb-1">{{ "Contact Name" | translate }} </label>
                              <input 
                                type="text" 
                                class="form-control" 
                                formControlName="contact_name" 
                                maxlength="200"
                                (keyup)="onKeyupValidateSpecialChar($event, nameSpecialChars, 'contact_name')" />
                            </div>
                            <div class="form-group col-4">
                              <label class="control-label mb-1">{{ "Email" | translate }} </label>
                              <input 
                                type="email" 
                                class="form-control" 
                                [class.is-invalid]="invalid('contact_email')"
                                [class.is-valid]="!invalid('contact_email')"
                                formControlName="contact_email" 
                                maxlength="50"
                                (invalid)="setCustomValidity($event, 'Please enter a valid email address.')" 
                                oninput="setCustomValidity('')"
                                onchange="if (this.value==''){setCustomValidity('');}"
                                [title]="getError('contact_email', 'Please enter a valid email address.')" />
                            </div>
                            <div class="form-group col-4">
                              <label class="control-label mb-1">Contact Number </label>
                              <input 
                                type="text" 
                                class="form-control" 
                                formControlName="contact_no" 
                                maxlength="20"
                                (keyup)="onKeyupChkposval($event, 'contact_no', 2)" />
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-7">
                              <label class="control-label mb-1">{{ "Contact Address" | translate }} </label>
                              <textarea 
                                class="form-control" 
                                formControlName="contact_address" 
                                maxlength="200" 
                                style="height: 60px"></textarea>
                            </div>
                            <div class="form-group col-2 pl-4">
                              <div class="row">
                                <div class="col-12 xtext-center">
                                  <label class="control-label" style="cursor: pointer">{{ "Status" | translate }} </label><br />
                                  <label class="switch">
                                    <input type="checkbox" formControlName="status" value="A" />
                                    <span class="slider round"></span>
                                  </label>

                                  <span id="status_desc" class="pl-3 small">
                                    {{ "Active" | translate }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-3">
                              {{ "Agreement" | translate }}<br />
                              <button type="button" name="btnUpload" id="btnUpload"
                                class="btn btn-sm bg-success mt-1 text-white" title="Upload Agreement">
                                <i class="fa fa-cloud-upload-alt"></i>
                                <span id="file_badge" class="badge badge-light d-none">1</span>
                              </button>

                              <input id="agreement_file" name="agreement_file" type="file" accept=".pdf"
                                style="display: none" />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-2 d-flex">
                        <div class="col border border-info rounded p-2 mb-2 h-100">
                          <div class="form-row mb-0">
                            <div class="form-group col-12">
                              <div class="form-row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                  {{ "Diseases" | translate }}
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pl-3 xpy-1 xfont-weight-bold">
                                  SELENA+
                                </div>
                              </div>

                              <div class="form-row pl-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pl-3 py-1">
                                  <div class="form-check col-12">
                                    <input 
                                      class="form-check-input diseases" 
                                      type="checkbox"
                                      formControlName="disease_cd_1" 
                                      data-id="DR" 
                                      value="DR"
                                      style="height: 16px; width: 16px" />
                                    <label class="form-check-label pl-1" for="disease_cd_1"
                                      style="cursor: pointer">{{ "Diabetic Retinopathy" | translate }}</label>
                                  </div>
                                </div>
                              </div>

                              <div class="form-row pl-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pl-3 py-1">
                                  <div class="form-check col-12">
                                    <input 
                                      class="form-check-input diseases" 
                                      type="checkbox"
                                      formControlName="disease_cd_2" 
                                      data-id="GLAUCOMA" 
                                      value="GLAUCOMA"
                                      style="height: 16px; width: 16px" />
                                    <label class="form-check-label pl-1" for="disease_cd_2"
                                      style="cursor: pointer">{{ "Glaucoma Suspect" | translate }}</label>
                                  </div>
                                </div>
                              </div>

                              <div class="form-row pl-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pl-3 py-1">
                                  <div class="form-check col-12">
                                    <input 
                                      class="form-check-input diseases" 
                                      type="checkbox"
                                      formControlName="disease_cd_3" 
                                      data-id="AMD" 
                                      value="AMD"
                                      style="height: 16px; width: 16px" />
                                    <label class="form-check-label pl-1" for="disease_cd_3"
                                      style="cursor: pointer">{{ "Age-Related Macular Degeneration" | translate }}</label>
                                  </div>
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pl-3 xpy-1 xfont-weight-bold">
                                  RetiKID
                                </div>
                              </div>

                              <div class="form-row pl-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pl-3 py-1">
                                  <div class="form-check col-12">
                                    <input 
                                      class="form-check-input diseases" 
                                      type="checkbox"
                                      formControlName="disease_cd_4" 
                                      data-id="CKD" 
                                      value="CKD"
                                      style="height: 16px; width: 16px" />
                                    <label class="form-check-label pl-1" for="disease_cd_4"
                                      style="cursor: pointer">{{ "Chronic Kidney Disease" | translate }}</label>
                                  </div>
                                </div>
                              </div>

                              <input type="hidden" id="diseases_count" name="diseases_count" value="4" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row mb-0">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 px-2">
                    <div class="form-row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex">
                        <div class="col border border-info rounded p-2 mb-2">
                          <div class="form-row">
                            <div class="col-12 pr-2">
                              <div class="form-row py-0">
                                <div class="form-group form-inline col-12 pb-2">
                                  <div class="custom-control custom-checkbox pl-0">
                                    <label class="form-check-label" style="cursor: pointer"><i class="fa fa-gift text-primary fa-lg pr-2"></i>
                                      {{ "Free Trial Account" | translate }} &nbsp;
                                      <input 
                                        type="checkbox" 
                                        class="custom-control pl-4" 
                                        formControlName="trial_ind"
                                        value="Y" 
                                        style="height: 16px; width: 16px" />
                                    </label>
                                  </div>
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="form-group col-3">
                                  <label class="control-label mb-1">{{ "Effective Date From" | translate }}</label>
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="trial_startdate"
                                    [class.is-invalid]="invalid('trial_startdate')"
                                    [class.is-valid]="!invalid('trial_startdate')"
                                    style="max-width: 255px" 
                                    maxlength="11" 
                                    required 
                                    onkeydown="return false" 
                                    (keyup)="onKeyupDate($event, 'trial_startdate')" 
                                    [title]="getError('trial_startdate')"
                                    #mdatepickerTrialFrom 
                                    #datepickerTrialFrom="bsDatepicker" 
                                    bsDatepicker
                                    placement="top" 
                                    (bsValueChange)="onDateChange($event, mdatepickerTrialFrom)" 
                                    [bsConfig]="{
                                      dateInputFormat: 'DD-MMM-YYYY',
                                      containerClass: 'theme-dark-blue',
                                      showTodayButton: true,
                                      showClearButton: true,
                                      customTodayClass: 'custom-today-class'
                                    }" />
                                  <!-- <input
                                    type="text"
                                    class="form-control"
                                    formControlName="trial_startdate"
                                    style="max-width: 255px"
                                    maxlength="11"
                                    onblur="if(!(check_date(this))){this.value='';}"
                                    required
                                    oninvalid="this.setCustomValidity('Please fill out this field.')"
                                    oninput="setCustomValidity('')"
                                    onchange="if(this.value!=''){setCustomValidity('');}"
                                  /> -->
                                </div>
                                <div class="form-group col-3">
                                  <label class="control-label mb-1">{{ "Date To" | translate }}</label>
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="trial_enddate"
                                    style="max-width: 255px" 
                                    maxlength="11" 
                                    onkeydown="return false" 
                                    (keyup)="onKeyupDate($event, 'trial_enddate')" 
                                    [title]="getError('trial_enddate')"
                                    #mdatepickerTrialTo 
                                    #datepickerTrialTo="bsDatepicker" 
                                    bsDatepicker
                                    placement="top" 
                                    (bsValueChange)="onDateChange($event, mdatepickerTrialTo)" 
                                    [bsConfig]="{
                                      dateInputFormat: 'DD-MMM-YYYY',
                                      containerClass: 'theme-dark-blue',
                                      showTodayButton: true,
                                      showClearButton: true,
                                      customTodayClass: 'custom-today-class'
                                    }" />
                                  <!-- <input
                                    type="text"
                                    class="form-control"
                                    formControlName="trial_enddate"
                                    style="max-width: 255px"
                                    maxlength="11"
                                    onblur="if(!(check_date(this))){this.value='';}"
                                    oninvalid="this.setCustomValidity('Please fill out this field.')"
                                    oninput="setCustomValidity('')"
                                    onchange="if(this.value!=''){setCustomValidity('');}"
                                  /> -->
                                </div>
                                <div class="form-group col-3">
                                  <label class="control-label mb-1">{{ "Trial Count" | translate }}</label>
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="trial_count" 
                                    maxlength="4"
                                    (keyup)="onKeyupChkposval($event, 'trial_count', 2)" style="max-width: 255px" />
                                </div>
                                <div class="form-group col-3">
                                  <label class="control-label mb-1">{{ "Submitted Count" | translate }}</label>
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="submitted_count"
                                    maxlength="4" 
                                    (keyup)="onKeyupChkposval($event, 'submitted_count', 2)" />
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="col-12 pt-2">
                              <div class="form-row">
                                <div id="div_acc_upgrade" class="form-group col-12">
                                  <button type="button" name="btnSubscribe" id="btnSubscribe"
                                    class="btn btn-sm bg-warning text-dark xtext-white col-12" title="Upgrade Account"
                                    style="cursor: pointer">
                                    <i class="fa fa-user-tag fa-lg"></i> {{ "Click to upgrade Account" | translate }}
                                  </button>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-3">
                                  <label class="control-label mb-1">{{ "Effective Date From" | translate }}</label>
                                  <!-- <input
                                    type="text"
                                    class="form-control"
                                    formControlName="subscribe_startdate"
                                    style="max-width: 255px"
                                    maxlength="11"
                                    onkeydown="return false"
                                    (keyup)="onKeyupDate($event, 'subscribe_startdate')"
                                    #datepickerSubFrom="bsDatepicker"
                                    bsDatepicker
                                    placement="top"
                                    [disabled]="true"
                                    [bsConfig]="{
                                      dateInputFormat: 'DD-MMM-YYYY',
                                      containerClass: 'theme-dark-blue',
                                      showTodayButton: true,
                                      showClearButton: true,
                                      customTodayClass: 'custom-today-class'
                                    }"
                                  /> -->
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="subscribe_startdate"
                                    style="max-width: 255px" 
                                    maxlength="11"
                                    onblur="if(!(check_date(this))){this.value='';}" 
                                    readonly 
                                    (invalid)="setCustomValidity($event, 'Please fill out this field.')" 
                                    oninput="setCustomValidity('')"
                                    onchange="if(this.value!=''){setCustomValidity('');}" />
                                </div>
                                <div class="form-group col-3">
                                  <label class="control-label mb-1">{{ "Date To" | translate }}</label>
                                  <!-- <input
                                    type="text"
                                    class="form-control"
                                    formControlName="subscribe_enddate"
                                    style="max-width: 255px"
                                    maxlength="11"
                                    onkeydown="return false"
                                    (keyup)="onKeyupDate($event, 'subscribe_enddate')"
                                    #datepickerSubTo="bsDatepicker"
                                    bsDatepicker
                                    placement="top"
                                    [disabled]="true"
                                    [bsConfig]="{
                                      dateInputFormat: 'DD-MMM-YYYY',
                                      containerClass: 'theme-dark-blue',
                                      showTodayButton: true,
                                      showClearButton: true,
                                      customTodayClass: 'custom-today-class'
                                    }"
                                  /> -->
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="subscribe_enddate"
                                    style="max-width: 255px" 
                                    maxlength="11" value
                                    onblur="if(!(check_date(this))){this.value='';}" 
                                    readonly 
                                    (invalid)="setCustomValidity($event, 'Please fill out this field.')" 
                                    oninput="setCustomValidity('')"
                                    onchange="if(this.value!=''){setCustomValidity('');}" />
                                </div>
                                <div class="form-group col-6">
                                  <label class="control-label mb-1">{{ "Billing Mode" | translate }}</label>
                                  <select class="form-control custom-select" formControlName="billing_mode"
                                    [disabled]="true">
                                    <option value></option>
                                    <option value="CREDITS">By Credits</option>
                                    <option value="TIER">By Tier</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="threshold-tabcontent" role="tabpanel" aria-labelledby="threshold-tab">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex p-1 xpl-0">
                  <div class="col border border-info rounded p-2 mb-2">
                    <div class="form-row mb-2">
                      <div class="form-group col">
                        <label class="control-label mb-0">{{ "SELENA+ Threshold" | translate }}</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          formControlName="selena_threshold" 
                          maxlength="100"
                          onchange="checkDetail();" />
                      </div>
                    </div>
                    <div class="form-row xtext-white xbg-secondary mx-1 xrounded xborder xborder-info">
                      <div class="col-12 small pb-2">
                        <div class="form-row text-white bg-secondary py-1">
                          <div class="col-6">{{ "Eye Diseases" | translate }}</div>
                          <div class="col-6">{{ "Raw score ranges" | translate }}</div>
                        </div>
                        <div class="form-row bg-white">
                          <div class="col-12">
                            <div class="form-row bg-light py-1">
                              <div class="col-12">{{ "Diabetic Retinopathy" | translate }}</div>
                            </div>
                            <div class="form-row">
                              <div class="col-12 pl-3">
                                <div class="form-row bg-white">
                                  <div class="col-6">
                                    {{ "No apparent retinopathy/Mild non-proliferative DR" | translate }}
                                  </div>
                                  <div class="col-6 selena-scale" id="ndr"></div>
                                </div>
                                <div class="form-row bg-light">
                                  <div class="col-6">{{ "Referable DR" | translate }}</div>
                                  <div class="col-6 selena-scale" id="rdr"></div>
                                </div>
                                <div class="form-row bg-white">
                                  <div class="col-6">{{ "Vision Threatening DR" | translate }}</div>
                                  <div class="col-6 selena-scale" id="vtdr"></div>
                                </div>
                              </div>
                            </div>

                            <div class="form-row bg-light py-1">
                              <div class="col-12">
                                {{ "Age-related Macular Degeneration" | translate }}
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-12 pl-3">
                                <div class="form-row bg-white">
                                  <div class="col-6">{{ "No AMD" | translate }}</div>
                                  <div class="col-6 selena-scale" id="namd"></div>
                                </div>
                                <div class="form-row bg-light">
                                  <div class="col-6">{{ "Referable AMD" | translate }}</div>
                                  <div class="col-6 selena-scale" id="ramd"></div>
                                </div>
                              </div>
                            </div>

                            <div class="form-row bg-white py-1">
                              <div class="col-12">{{ "Glaucoma Suspect" | translate }}</div>
                            </div>
                            <div class="form-row">
                              <div class="col-12 pl-3">
                                <div class="form-row bg-light">
                                  <div class="col-6">{{ "No Glaucoma" | translate }}</div>
                                  <div class="col-6 selena-scale" id="ngla"></div>
                                </div>
                                <div class="form-row bg-white">
                                  <div class="col-6">{{ "Referable Glaucoma" | translate }}</div>
                                  <div class="col-6 selena-scale" id="rgla"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="ckdthreshold-tabcontent" role="tabpanel" aria-labelledby="threshold-tab">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex p-1 xpl-0">
                  <div class="col border border-info rounded p-2 mb-2">
                    <div class="form-row mb-2">
                      <div class="form-group col">
                        <label class="control-label mb-0">{{ "Left Image Quality Threshold" | translate }}</label>
                        <input 
                          type="text" 
                          xvalue="0.9433" 
                          class="form-control"
                          formControlName="ckd_image_left_threshold" 
                          maxlength="100" 
                          (keyup)="onKeyupCkdIm($event, 'ckd_image_left_threshold', 8)" 
                          (blur)="onBlurCkdIm($event, 'ckd_image_left_threshold', 8)" />
                      </div>
                    </div>
                    <div class="form-row mb-2">
                      <div class="form-group col">
                        <label class="control-label mb-0">{{ "Right Image Quality Threshold" | translate }}</label>
                        <input 
                          type="text" 
                          xvalue="0.9567" 
                          class="form-control"
                          formControlName="ckd_image_right_threshold" 
                          maxlength="100" 
                          (keyup)="onKeyupCkdIm($event, 'ckd_image_right_threshold', 8)" 
                          (blur)="onBlurCkdIm($event, 'ckd_image_right_threshold', 8)" />
                      </div>
                    </div>
                    <div class="form-row mb-2">
                      <div class="form-group col">
                        <label class="control-label mb-0">{{ "Image Result Threshold" | translate }}</label>
                        <input 
                          type="text" 
                          xvalue="0.6" 
                          class="form-control"
                          formControlName="ckd_image_result_threshold" 
                          maxlength="100" 
                          (keyup)="onKeyupCkdIm($event, 'ckd_image_result_threshold', 8)" 
                          (blur)="onBlurCkdIm($event, 'ckd_image_result_threshold', 8)" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="xbottom"></div>
      </div>

      <div class="container-fluid px-0 py-2 text-center xborder bg-white border-top">
        <button type="button" name="btnCancel" id="btnCancel" class="btn xbtn-sm bg-secondary py-1 text-white mr-1"
          title="Cancel" (click)="onHide()">
          <i class="fa fa-times"></i> {{ "Cancel" | translate }}
        </button>
        <button type="submit" name="btnSave" id="btnSave" class="btn xbtn-sm bg-primary py-1 text-white ml-1"
          title="Save" [disabled]="mform.invalid">
          <i class="fa fa-save"></i> {{ "Save" | translate }}
        </button>
      </div>
      <div class="xbottom1"></div>
    </form>
  </main>
</div>