.form-group {
  /* xdisplay: inline-block; */
  /* xmargin: 0px 3px; */
  margin-bottom: 2px;
  /* xvertical-align: top; */
}

.create-modal {
  overflow: hidden;
}

.xbottom {
  height: 30px;
}

.xbottom1 {
  height: 5px;
}