<app-header
  [reload]="'/mnt/application'"
  [headerid]="'fn0'"
  [title]="'Manage Organization Applications' | translate"
></app-header>

<div
  class="modal fade"
  id="__nhPopWindow"
  tabindex="-1"
  role="dialog"
  aria-labelledby="__nhPopWindow_title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
      "
    >
      <div class="modal-header m-0 p-1 pl-2 bg-header text-white">
        <h5 class="modal-title" id="__nhPopWindow_title"></h5>
        <button
          id="__nhPopWindow_close"
          type="button"
          class="close btn-md m-1 p-0 bg-header text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <iframe
          id="__nhPopWindow_iframe"
          xwidth="500px"
          xheight="400px"
          scrolling="no"
          frameborder="0"
        ></iframe>
      </div>
      <div class="modal-footer d-none">
        <button id="__nhPopWindow_ok" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button id="__nhPopWindow_no" type="button" class="btn btn-primary">
          Save changes
        </button>
        <button id="__nhPopWindow_cancel" type="button" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="__nhAnimator"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="
    position: absolute;
    max-height: 140px;
    max-width: 120px;
    overflow: hidden;
  "
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="background-color: rgba(0, 0, 0, 0.0001); border: none"
    >
      <div
        class="modal-header m-0 p-1 bg-header text-white"
        style="display: none; overflow: hidden"
      ></div>
      <div class="modal-body m-4 p-4">
        <div class="nhAnimator"></div>
      </div>
      <div
        class="modal-footer justify-content-center m-0 p-1"
        style="display: none"
      ></div>
    </div>
  </div>
</div>

<main role="main" class="container-fluid">
  <div class="container-fluid pt-4 pb-4">
    <div class="row pb-2 justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pl-0 h4">
        {{ "Applications" | translate }}
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 px-0">
        <form
          name="frmFilter"
          id="frmFilter"
          class="form-inline float-right"
          action="/bn_moh_uat/mnt/application/index.cfm?tid=fn0_9"
          method="post"
        >
          <input type="hidden" name="recno" id="recno" value="25" />

          <div class="form-group mr-2">
            <input
              name="desc"
              id="desc"
              type="text"
              class="form-control"
              placeholder="{{ 'Search' | translate }}..."
              value
            />
          </div>
          <div class="form-group mr-2">
            <div class="btn-toolbar float-right">
              <button
                name="btnSearch"
                id="btnSearch"
                class="form-control btn bg-primary text-white"
                [title]="'Search' | translate"
              >
                <i class="fa fa-search"></i> {{ "Search" | translate }}
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="btn-toolbar float-right">
              <button
                name="btnNew"
                id="btnNew"
                class="form-control btn bg-primary text-white"
                [title]="'New' | translate"
                (click)="onCreate()"
              >
                <i class="fa fa-plus"></i> {{ "New" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row box-shadow">
      <div class="col-xl-12 col-lg-12">
        <div class="row p-1 bg-header text-white">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            Organization <i class="fa fa-sort-up"></i>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12">
            <div class="row">
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <span title="Screening Model">SM</span>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <span title="Image Report Preference">RP</span>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            Ocular Reading Centre<br />Auxiliary Image Acquisition
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            Parent Organization<br />Requested By
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="row">
              <div class="col-2">Status</div>
              <div class="col-7">Remarks</div>
              <div class="col-3">Actions</div>
            </div>
          </div>
        </div>

        <div class="row py-1 xborder-bottom text-center bg-white">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            No Record Found.
          </div>
        </div>
      </div>
      <!-- /.col-12 -->
    </div>
  </div>
  <div class="clearfix"></div>
</main>
