/* You can add global styles to this file, and also import other style files */
.custom-today-class {
  background-color: burlywood;
  color: black;
}

.guide-modal {
  max-width: 1100px !important;
  width: 1100px;
}

.acquire-image-modal {
  max-width: 610px;
  width: 610px;
}

.error-dialog {
  max-width: 518px;
  width: 518px;
  height: 230px;
}

.about-modal {
  max-width: 700px !important;
  width: 700px;
  max-height: 620px;
  height: 620px;
}

.contact-modal {
  max-width: 880px !important;
  width: 880px;
  /* max-height: 460px !important;
  height: 460px; */
}

.create-company-modal {
  max-width: 1200px !important;
  width: 1200px;
  /* max-height: 1000px;
  height: 1000px; */
}

.create-accounts-modal {
  max-width: 700px !important;
  width: 700px;
}

.create-application-modal {
  max-width: 1200px !important;
  width: 1200px;
  /* height: 560px; */
}

.create-lookup-modal {
  max-width: 500px !important;
  width: 500px;
  /* max-height: 350px;
  height: 350px; */
}

.create-parameter-modal {
  max-width: 650px !important;
  width: 650px;
}

.create-company-parameter-modal {
  max-width: 900px !important;
  width: 900px;
}

.nhxlogo {
  max-width: 100px;
}

.nhxmsg {
  width: 100%;
  height: 160px;
}