<main role="main" class="container pt-3">

  <h5>UGN-EYS-002 EySCAN User Guide Revision History</h5>

  <div class="container-fluid p-3  ">
    <div class="row ">
      <div class="col-12 ">

        <div class="row bg-header text-white">
          <div class="col-3 border py-1 text-center xfont-weight-bold ">Version</div>
          <div class="col-3 border py-1 text-center xfont-weight-bold ">Date of
            Publication</div>
          <div class="col-3 border py-1 text-center xfont-weight-bold ">Status</div>
          <div class="col-3 border py-1 text-center xfont-weight-bold ">Download</div>
        </div>

        <div class="row ">
          <div class="col-3 border text-center ">00</div>
          <div class="col-3 border text-center ">08-Apr-2019</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center "><a class="nav-link " target="_blank" title="EN_UGN-EYS-002-00.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-00.pdf'>00</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">01</div>
          <div class="col-3 border text-center ">11-Dec-2019</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center "><a class="nav-link " target="_blank" title="EN_UGN-EYS-002-01.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-01.pdf'>01</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">02</div>
          <div class="col-3 border text-center ">16-Jan-2020</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center "><a class="nav-link " target="_blank" title="EN_UGN-EYS-002-02.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-02.pdf'>02</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">03</div>
          <div class="col-3 border text-center ">19-Feb-2020</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-03.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-03.pdf'>03</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">04</div>
          <div class="col-3 border text-center ">02-Apr-2020</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-04.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-04.pdf'>04</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">05</div>
          <div class="col-3 border text-center ">16-Jun-2020</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-05.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-05.pdf'>05</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">06</div>
          <div class="col-3 border text-center ">29-Sep-2020</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-06.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-06.pdf'>06</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">07</div>
          <div class="col-3 border text-center ">06-Apr-2022</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-07.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-07.pdf'>07</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">08</div>
          <div class="col-3 border text-center ">06-Apr-2023</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-08.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-08.pdf'>08</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">09</div>
          <div class="col-3 border text-center ">20-Jul-2023</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-09.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-09.pdf'>09</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">10</div>
          <div class="col-3 border text-center ">10-Aug-2023</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-10.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-10.pdf'>10</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">11</div>
          <div class="col-3 border text-center ">27-Nov-2023</div>
          <div class="col-3 border text-center ">Obsolete</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-11.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-11.pdf'>11</a>
          </div>

        </div>

        <div class="row ">
          <div class="col-3 border text-center ">12</div>
          <div class="col-3 border text-center ">08-Mar-2024</div>
          <div class="col-3 border text-center ">Active</div>
          <div class="col-3 border text-center ">
            <a class="nav-link " target="_blank" title="EN_UGN-EYS-002-12.pdf"
              href='#' data-target='/bn_moh_uat/userguide/histo/EN_UGN-EYS-002-12.pdf'>12</a>
          </div>

        </div>

      </div>
    </div>
  </div>

</main>